*{
	margin: 0;
	padding: 0;
}

.h1{
	font-size: 50px;
	text-align: center;
	color: blue;
}
.love{
	font-size: 40px;
	word-spacing: 10px;
	letter-spacing: 8px;
	margin-top: 80px;
	padding-top: 40px;
	color: red;
}
#locks{
	background-color: black;
	margin-right: 200px 200px;
	text-align: center;
	background-image: ;
	color: yellow;
}

img{
	size: 40px;
	width: 400px;
	height: 50vh;
	margin: 0;
	padding: 0;
	grid-gap:0;
	grid-column:0;
	grid-column-end: 0; 
}

.my-div{
	background-image: url("../images/download 19.jpeg");
	height: 70VH;
	width: 215vh;
	background-position: center;
	background-size: cover;
	text-align: center;
	color: yellow;
	margin: 0px;
	padding: 2px;
}
hr{
	background-color: blue;
	font-size: bold;
}
.main{
	text-align: center;
	color: red;
}
.main{
	text-align: center;
	font-size: 40px;
}
.local{
	padding: 2px;
       font-size: 40px;
	margin-left: auto;
	margin-right: auto;
      }
.always{
	font-size: bold;
	color: red;
}
.good{
	color: blue;
	font-size: bold;
	text-align: center;
}
.study{
	background-color: brown;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 15px;
	border-spacing: 80vh;
}
ul li{
	display: inline-block;

}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	font-size: bold;
	transition: 0.8s ease;
	margin: 4px;
	padding: 4px;
}

ul li a:hover{
background-color: green;
color: #000;
}

.lord4{
	text-align: center;
	font-size: 40px;
}
.img2 img{
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50px;

}
.gold{
	color: gold;
	font-size: bold;
}

contact section

.download{
	background-color: red;
	text-align: center;
}

.lovely{
	color: blue;
	text-align: center;
}
.myeverything{
	background-color: gold;
	text-align: center;
}
.father{
	text-align: center;
	color: red;
}
.align{
	float: right;
	color: blue;
}
.slow{
	background-color: skyblue;
}
 product section

 
.mode{
	text-align: center;
	font-size: bold;
}


}

.while{
	background-color: gold;
}

.message{
	width: 200px;
	height: 100px;
	display: flex;
}
.well{
	color: blue;
	font-size: bold;
}

.blow{
	text-align: center;
	background-color: brown;
	color: blue;
}
.blue{
	color: blue;
	font-size: bold;
	text-align: center;
}
.thank{
	color: black;
	font-size: bold;
}
.slider-frame{
	overflow: hidden;
	height: 400px;
	width: 1200px;
	margin-left: 300px;
	margin-top: 20px;
	background-color: gol +d;
}

.img-container{
	height: 800px;
	width: 1200px;
	position: relative;
	float: left;
}
   



